<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication4.Properties.Settings.Database1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Steganography_ApplicationEntities" connectionString="metadata=res://*/DataAccess.DataModel.StegDatabase.csdl|res://*/DataAccess.DataModel.StegDatabase.ssdl|res://*/DataAccess.DataModel.StegDatabase.msl;provider=System.Data.SqlClient;provider connection string='data source=ADMIN-PC\SQLEXPRESS;initial catalog=&quot;Steganography Application&quot;;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/DataAccess.DataModel.Model.csdl|res://*/DataAccess.DataModel.Model.ssdl|res://*/DataAccess.DataModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS;initial catalog=DavidFlynnDatabase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>